*.aux
*.log
*.out
/slides.pdf
/handout.pdf
/notes.pdf
*.nav
*.snm
*.toc
*.synctex.gz
*.key
/*.mp4
/.venv/
/png/
/images/benchmark_cheby_dense_10.pdf
/images/benchmark_cheby_dense_1000.pdf
/images/benchmark_cheby_dense_1000_1.pdf
/images/benchmark_cheby_dense_1000_2.pdf
/images/benchmark_cheby_dense_1000_3.pdf
/images/benchmark_cheby_dense_1000_4.pdf
/images/benchmark_cheby_dense_10_1.pdf
/images/benchmark_cheby_dense_10_2.pdf
/images/benchmark_cheby_dense_10_3.pdf
/images/benchmark_cheby_dense_10_4.pdf
/images/benchmark_cheby_sparse_1000.pdf
/images/benchmark_cheby_sparse_1000_1.pdf
/images/benchmark_cheby_sparse_1000_2.pdf
/images/benchmark_cheby_sparse_1000_3.pdf
